version: 2.1
executors:
  node22:
    docker:
      - image: cimg/node:22.12.0

commands:
  build_angular:
    description: 'Building << path >>...'
    parameters:
      path:
        type: string
        default: ''
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache for << parameters.path >>
          keys:
            - yarn-packages-{{ checksum "<< parameters.path >>/yarn.lock" }}
      - run:
          name: 'Building << parameters.path >>'
          command: |
            cd "<< parameters.path >>"
            sudo npm i -g corepack
            corepack enable
            yarn set version 4.9.1
            yarn
            yarn build

      - save_cache:
          name: Save Yarn Package Cache for << parameters.path >>
          key: yarn-packages-{{ checksum "<< parameters.path >>/yarn.lock" }}
          paths:
            - ./<< parameters.path >>/.pnp.cjs

jobs:
  build_angular:
    executor: node22
    steps:
      - checkout
      - build_angular:
          path: 'geo-search'
          
workflows:
  version: 2.1
  build:
    jobs:
      - build_angular